<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, 'Email address' %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :f_name, 'First Name' %><br />
    <%= f.text_field :f_name %>
  </div>

  <div class="field">
    <%= f.label :l_name, 'Last Name' %><br />
    <%= f.text_field :l_name %>
  </div>

  <div class="field">
    <%= f.label :neighborhood, "Where do you live?" %><br />
    <%= f.collection_select(:neighborhood_id, Neighborhood.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label 'I have a car!' %>
    <%= f.check_box :has_car %>
  </div>

  <div class="field">
    <%= f.label 'Number of seats: ' %>
    <%= f.select :car_seats, (2..8), :include_blank => true %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
