<!-- form for creating a new carpool -->
<%= form_for [@neighborhood, @carpool] do |f| %>

  <div class="field">
    <%= f.label :name, 'Carpool Name:' %>
    <%= f.text_field :name, class: 'modal-field' %>
  </div>

  <div class="field">
    <%= f.label :description, 'Carpool Description:' %>
    <%= f.text_area :description, class: 'modal-field' %>
  </div>

  <div class="field">
    <%= f.hidden_field :neighborhood_id, :value => @neighborhood.id %>
  </div>

  <div class="actions modal-footer">
    <button type="button" class='btn btn-secondary' data-dismiss='modal'>Cancel</button>
    <%= f.submit 'Create Carpool!', class: 'btn btn-primary'%>
  </div>

<% end %>
