<nav class="navbar navbar-light bg-faded">

  <%= image_tag('diamond_lane_logo.png', :class => 'logo navbar-brand nav-item') %> <a class="navbar-brand nav-item" href="#">Diamond Lane</a>

  <ul class="nav navbar-nav">

    <li class="nav-item">
      <%= link_to 'Home', root_path, :class => 'nav-link' %>
    </li>

    <li class="nav-item">
      <%= link_to 'My Neighborhood', neighborhood_path(current_user.neighborhood), :class => 'nav-link' unless current_user == nil%>
    </li>

  </ul>

  <ul class="nav navbar-nav pull-right">

    <% if user_signed_in? %>

      <li class='nav-item'>
        <a class='nav-link' href='#'>Logged in as <strong><%= current_user.f_name %></strong></a>
      </li>

      <li class='nav-item'>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %>
      </li>

      <li class='nav-item'>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
      </li>

    <% else %>

      <li class='nav-item'>
        <%= link_to "Sign up", new_user_registration_path, :class => 'nav-item nav-link'  %>
      </li>

      <li class='nav-item'>
        <%= link_to "Login", new_user_session_path, :class => 'nav-item nav-link'  %>
      </li>

    <% end %>

  </ul>

</nav>
