<h2>New Post</h2>

<p>You are posting as: <strong><%= current_user.f_name %> <%= current_user.l_name %></strong></p>

<%= form_for [@neighborhood, @post] do |f| %>

  <div class="field">
    <%= f.label 'Content' %><br />
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit "Post" %>
  </div>

<% end %>
