<h1><%= @neighborhood.name %></h1>

<h3>Current <%= @neighborhood.name %> Carpools</h3>

<ul>
  <% @neighborhood.carpools.each do |carpool| %>
    <li><%= carpool.name %> | <%= link_to 'View this carpool', neighborhood_carpool_path(@neighborhood, carpool) %> <%= '|' if carpool.users.first == current_user %><%= link_to ' Destroy', neighborhood_carpool_path(@neighborhood, carpool), method: :delete, data: { confirm: 'Are you sure?'  } if carpool.users.first == current_user %><%#=link_to 'Join this carpool', neighborhood_carpool_path(@neighborhood, carpool)%></li>
  <% end %>
</ul>

<% if current_user.carpool_id == nil %>
  <h5>Create a New Carpool:</h5>
  <!-- Button to trigger new carpool modal -->
  <button type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#newCarpool'>Create</button>
  <!-- Modal -->
  <div class='modal fade' id='newCarpool'>
    <div class="modal-dialog modal-sm" role='document'>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
          <h4 class='modal-title'>Enter a Carpool name</h4>
        </div>
        <div class="modal-body">
          <%= render 'partials/form_new_carpool' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h3>Neighborhood Posts</h3>

<ul>
  <% @neighborhood.posts.each do |post| %>
    <li>
      <strong><%= post.user.f_name %>:</strong> <%= post.content %> <%= link_to '| edit this post', edit_neighborhood_post_path(@neighborhood, post) if post.user == current_user %> <%= link_to '| delete this post', neighborhood_post_path(@neighborhood, post), method: :delete, data: {confirm: 'Are you sure?'} if post.user == current_user %>
    </li>
    <% if post.replies %>
      <ul>
      <% post.replies.each do |reply| %>
        <li>
          <strong><%= reply.user.f_name %>:</strong> <%= reply.content %> <%= link_to '| edit this reply', edit_neighborhood_post_reply_path(@neighborhood, post, reply) if reply.user == current_user %> <%= link_to '| delete this reply', neighborhood_post_reply_path(@neighborhood, post, reply), method: :delete, data: {confirm: 'Are you sure?'} if reply.user == current_user %>
        </li>
      <% end %>
      </ul>
    <% end %>
    <%= render 'partials/form_reply', :post => post %>
    <%#= link_to 'Reply to this post', new_neighborhood_post_reply_path(@neighborhood.id, post.id) %>
  <% end %>
</ul>

<%#= link_to 'Create a new post', new_neighborhood_post_path(@neighborhood.id) %>
<%= render 'partials/form_post' %>
