<h1><%= @neighborhood.name %></h1>

<h3>Carpools in this Neighborhood</h3>

<ul>
  <% @neighborhood.carpools.each do |carpool| %>
    <li><%= carpool.name %> | <%= link_to 'View this carpool', neighborhood_carpool_path(@neighborhood, carpool) %> <%#=link_to 'Join this carpool', neighborhood_carpool_path(@neighborhood, carpool)%></li>
  <% end %>
</ul>

<h3>Posts for this Neighborhood</h3>

<ul>
  <% @neighborhood.posts.each do |post| %>
    <li><strong><%= post.user.f_name %>:</strong> <%= post.content %> <%#= link_to 'View this post', neighborhood_post_path(@neighborhood, post) %></li>
    <% if post.replies %>
      <ul>
      <% post.replies.each do |reply| %>
        <li> <strong><%= reply.user.f_name %>:</strong> <%= reply.content %></li>
      <% end %>
      </ul>
    <% end %>
    <%= render 'partials/form_reply', :post => post %>
    <%#= link_to 'Reply to this post', new_neighborhood_post_reply_path(@neighborhood.id, post.id) %>
  <% end %>
</ul>

<%#= link_to 'Create a new post', new_neighborhood_post_path(@neighborhood.id) %>
<%= render 'partials/form_post' %>
